.btn {
  position: relative;
  @include fontSize(20);
  display: inline-block;
  background-color: darkslategray;
  box-shadow: 0px 0px 5px $accent-blue;
  border: 1px solid $accent-green;
  border-radius: 150px;
  color: $accent-yellow;
  padding: 10px;
  text-transform: uppercase;
  transition: all 150ms ease-in;
  text-align: center;
  width: 250px;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px $accent-blue;
    letter-spacing: 1px;
  }

  &::after {
    content: "→";
    display: inline-block;
    margin-left: 30px;
  }

  @include phone {
    @include fontSize(18);
    width: 200px;
  }
}
