.header {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  h2,
  .userAnswer {
    @include fontSize(30);
    font-weight: 300;
    letter-spacing: 2px;
  }

  .header,
  .userAnswer {
    position: relative;
  }

  .headerCounter,
  .userAnswer {
    text-align: center;
  }

  .userAnswer,
  .userCommand,
  .col.col40 {
    width: 100%;
  }

  .headerCounter {
    position: absolute;
    top: 50px;
    right: 7.5%;
    width: 10%;
    border: 2px solid $accent-yellow;
    border-radius: $border-radius;

    p {
      @include fontSize(20);
      padding: 10px;
    }
  }

  .headerQuiz {
    // border: 1px solid $accent-yellow;
    padding: 50px 0;
  }

  .userAnswer {
    padding: 30px;
    border: 1px solid $accent-yellow;
    border-radius: $border-radius;
    margin: 60px 0;
    box-shadow: 0px 0px 10px $accent-yellow;

    &::after {
      content: "+";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include fontSize(30);
    }

    .userInput {
      display: inline-block;
      font-weight: 600;
    }
  }
}

// .bg {
//   background-color: rgba(165, 255, 144, 0.2);
// }

// .bg {
//   background-color: rgba(255, 1, 1, 0.2);
// }
