.modalIntro {
  .modalLeft,
  .modalRight,
  .iconRight,
  .iconLeft {
    position: absolute;
  }

  .modalLeft,
  .modalRight {
    height: 100%;
    width: 50%;
    top: 0;
    transition: all 250ms ease-in-out;
    z-index: 10;
  }

  .iconRight,
  .iconLeft {
    display: inline-block;
    top: 25%;
  }

  .modalLeft {
    left: 0;
    background-color: $primary-dark;

    .iconLeft {
      right: -150px;
    }
  }

  .modalRight {
    right: 0;
    background-color: $accent-yellow;

    .iconRight {
      left: -150px;
      color: $primary-dark;
    }
  }

  .modalIcon {
    @include fontSize(300);
  }

  .intro {
    position: absolute;
    color: #000;
    top: 10%;
    left: 51%;
    transform: translateX(-50%);
    min-height: 75vh;
    z-index: 100;
    text-align: center;
    width: 60%;

    &.row {
      flex-direction: column;
      justify-content: space-between;
    }

    h1 {
      @include fontSize(60);
      text-shadow: 2px 2px 1px #000;
      color: #fff;
    }

    p {
      @include fontSize(30);
      margin: 30px 0;
      font-weight: 300;
      text-shadow: 2px 2px 1px #000;
      color: #fff;
    }

    .buttonStart {
      width: 40%;

      &::after {
        content: "";
        margin: 0;
      }
    }
  }
}
