.modalIntro {
  .modalLeft {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: $primary-dark;
    transition: all 250ms ease-in-out;
    z-index: 10;

    .iconLeft {
      position: absolute;
      display: inline-block;
      top: 40%;
      right: -150px;
    }

    .intro {
      color: #000;
      padding: 50px;

      h1 {
        @include fontSize(60);
      }

      p {
        @include fontSize(30);
        margin: 30px;
        font-weight: 300;
      }

      .buttonStart {
        border: 1px solid $accent-blue;
        box-shadow: 0px 0px 5px $accent-blue;
        width: 40%;
        color: $accent-yellow;

        &::after {
          content: "";
          margin: 0;
        }

        &:hover,
        &:focus {
          color: $primary-dark;
        }
      }
    }
  }

  .modalRight {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background-color: $accent-yellow;
    transition: all 250ms ease-in-out;
    z-index: 10;

    .iconRight {
      position: absolute;
      display: inline-block;
      top: 40%;
      left: -150px;
      color: $primary-dark;
    }
  }

  .modalIcon {
    @include fontSize(300);
  }
}
