/* Variables */

/* Color palette */
$primary-dark: rgb(25, 53, 73);
$secondary-dark: rgb(21, 35, 45);
$accent-blue: rgb(156, 252, 252);
$accent-yellow: rgb(220, 171, 0);
$accent-green: rgb(165, 255, 144);
$accent-purple: rgb(218, 233, 249);

/* Mixins */

@mixin fontSize($size-value) {
  font-size: ($size-value / 10) * 1rem;
}

@mixin tablet-landscape-lg {
  @media only screen and(max-width: $screen-xxxl) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and(max-width: $screen-xxl) {
    @content;
  }
}

@mixin tablet-landscape-sm {
  @media only screen and (max-width: $screen-xl) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and(max-width: $screen-md) {
    @content;
  }
}

@mixin tablet-portrait-sm {
  @media only screen and(max-width: $screen-sm) {
    @content;
  }
}

@mixin phone {
  @media only screen and(max-width: $screen-xs) {
    @content;
  }
}
