@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Variables */
/* Color palette */
/* Responsive web design breakpoints*/
/* Mixins */
html {
  font-size: 62.5%;
}

body {
  background-color: #193549;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  color: #dcab00;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.overflowHidden {
  overflow: hidden;
}

.close {
  display: none;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.row.rowCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.rowEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.row.rowColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  margin: 0 20px;
}

.col.col40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  max-width: calc(40% - 40px);
}

.col.col50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: calc(50% - 40px);
}

.col.col60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  max-width: calc(60% - 40px);
}

.col.col75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  max-width: calc(75% - 40px);
}

.col.col80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  max-width: calc(80% - 40px);
}

.auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.modalIntro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modalIntro .modalLeft,
.modalIntro .modalRight,
.modalIntro .iconRight,
.modalIntro .iconLeft {
  position: absolute;
}

.modalIntro .modalLeft,
.modalIntro .modalRight {
  height: 100%;
  width: 50%;
  top: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 10;
}

.modalIntro .modalLeft {
  left: 0;
  background-color: #193549;
}

.modalIntro .modalLeft::after {
  content: "⌘";
  position: absolute;
  font-size: 15rem;
  top: 50%;
  right: -75px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

.modalIntro .modalRight {
  right: 0;
  background-color: #dcab00;
}

.modalIntro .modalRight::after {
  content: "⌘";
  position: absolute;
  font-size: 15rem;
  top: 50%;
  left: -75px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  color: #193549;
}

.modalIntro .modalIcon {
  font-size: 30rem;
}

.button {
  position: relative;
  font-size: 2rem;
  background-color: darkslategray;
  -webkit-box-shadow: 0px 0px 5px #9cfcfc;
          box-shadow: 0px 0px 5px #9cfcfc;
  border: 1px solid #a5ff90;
  border-radius: 150px;
  color: #dcab00;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  text-align: center;
}

.button:hover, .button:focus {
  -webkit-box-shadow: 0px 0px 10px #9cfcfc;
          box-shadow: 0px 0px 10px #9cfcfc;
  letter-spacing: 1px;
}

.button::after {
  content: "→";
  display: inline-block;
  margin-left: 30px;
}

.header {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header .headerRules {
  position: absolute;
  width: 50%;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 10;
  border: 1px solid #dcab00;
  border-radius: 5px;
}

.header .headerRules .closeRules {
  position: absolute;
  top: 30px;
  width: 20%;
  background: darkslategray;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .headerRules .closeRules.button {
  background-color: darkslategrey;
}

.header .headerRules .closeRules.button::after {
  content: "";
  margin: 0;
}

.header h2,
.header .userAnswer {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.header .header,
.header .userAnswer {
  position: relative;
}

.header .headerCounter,
.header .userAnswer {
  text-align: center;
}

.header .userAnswer,
.header .userCommand,
.header .col.col40 {
  width: 100%;
}

.header .headerCounter {
  position: absolute;
  top: 50px;
  right: 7.5%;
  width: 10%;
  border: 2px solid #dcab00;
  border-radius: 10px;
}

.header .headerCounter p {
  font-size: 2rem;
  padding: 10px;
}

.header .headerQuiz {
  padding: 50px 0;
}

.header .headerQuiz h2 {
  text-align: center;
}

.header .userAnswer {
  padding: 30px;
  border: 1px solid #dcab00;
  border-radius: 10px;
  margin: 60px 0;
  -webkit-box-shadow: 0px 0px 10px #dcab00;
          box-shadow: 0px 0px 10px #dcab00;
}

.header .userAnswer::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
}

.header .userAnswer .userInput {
  display: inline-block;
  font-weight: 600;
}

.modalScore .modalScoreLeft,
.modalScore .modalScoreRight,
.modalScore .scoreTotal {
  position: absolute;
  width: 50%;
  z-index: 10;
}

.modalScore .modalScoreLeft,
.modalScore .modalScoreRight {
  top: 0;
  height: 100%;
  background-color: #193549;
  background-color: #122637;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.modalScore .modalScoreLeft {
  left: -50%;
}

.modalScore .modalScoreRight {
  right: -50%;
}

.modalScore .scoreTotal {
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 1px solid #a5ff90;
  -webkit-box-shadow: 0px 0px 5px #a5ff90;
          box-shadow: 0px 0px 5px #a5ff90;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}

.modalScore .scoreTotal h3 {
  font-size: 3rem;
  margin: 20px 0;
}

.modalScore .scoreTotal .btnPlayAgain {
  width: 80%;
  margin-top: 40px;
}

.modalScore .scoreTotal .scoreList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #dcab00;
  border-radius: 25px;
  margin: 20px 0;
  text-align: center;
}

.modalScore .scoreTotal .scoreList li p {
  padding: 15px 30px;
  font-size: 1.6rem;
}

.modalScore .scoreTotal .scoreList li .questionFinalScore {
  color: #9cfcfc;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #9cfcfc;
}
