@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Variables */
/* Color palette */
/* Responsive web design breakpoints*/
/* Mixins */
html {
  font-size: 62.5%;
}

body {
  background-color: #193549;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  color: #dcab00;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.overflowHidden {
  overflow: hidden;
}

.close {
  display: none;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.row.rowCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.rowEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.row.rowColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  margin: 0 20px;
}

.col.col40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  max-width: calc(40% - 40px);
}

.col.col50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: calc(50% - 40px);
}

.col.col60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  max-width: calc(60% - 40px);
}

.col.col75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  max-width: calc(75% - 40px);
}

.col.col80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  max-width: calc(80% - 40px);
}

.auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.main {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.main .mainRules {
  position: absolute;
  width: 50%;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 10;
  border: 1px solid #dcab00;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #dcab00;
          box-shadow: 0px 0px 15px #dcab00;
}

.main .mainRules .btnCloseRules {
  position: absolute;
  top: 30px;
  width: 20%;
  background: darkslategray;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .mainRules .btnCloseRules::after {
  content: "";
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .main .mainRules .btnCloseRules {
    top: 15px;
    width: 30%;
    padding: 5px;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1295px) {
  .main .mainRules {
    width: 60%;
  }
}

@media only screen and (max-width: 1100px) {
  .main .mainRules {
    width: 70%;
  }
}

@media only screen and (max-width: 940px) {
  .main .mainRules {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .main .mainRules {
    width: 90%;
  }
}

.main h2,
.main .userAnswer {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media only screen and (max-width: 480px) {
  .main h2,
  .main .userAnswer {
    font-size: 1.6rem;
  }
}

.main .userAnswer {
  position: relative;
}

.main .mainCounter,
.main .userAnswer {
  text-align: center;
}

.main .userAnswer,
.main .userCommand,
.main .col.col40 {
  width: 100%;
}

.main .mainCounter {
  position: fixed;
  top: 50px;
  right: 7.5%;
  width: 140px;
  border: 2px solid #dcab00;
  border-radius: 10px;
}

.main .mainCounter p {
  font-size: 2rem;
  padding: 10px;
}

.main .mainQuiz {
  padding: 50px 0;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .main .mainQuiz h2 {
    font-size: 2rem;
  }
}

.main .mainQuiz .nextQuestion.col50 {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .main .mainQuiz .nextQuestion.col50 .btnNext::after {
    content: "";
    margin: 0;
  }
}

@media only screen and (max-width: 640px) {
  .main .mainQuiz .nextQuestion.col50.col50 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 480px) {
  .main .mainQuiz .nextQuestion.col50.col50 {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    max-width: calc(80% - 40px);
  }
}

@media only screen and (max-width: 640px) {
  .main .mainQuiz .nextQuestion.col50 {
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .main .mainQuiz.col60 {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    max-width: calc(80% - 40px);
  }
}

@media only screen and (max-width: 940px) {
  .main .mainQuiz .col75 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 640px) {
  .main .mainQuiz.col60 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: calc(100% - 40px);
  }
}

.main .userAnswer {
  padding: 30px;
  border: 1px solid #dcab00;
  border-radius: 10px;
  margin: 60px 0;
  -webkit-box-shadow: 0px 0px 10px #dcab00;
          box-shadow: 0px 0px 10px #dcab00;
}

.main .userAnswer::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
}

.main .userAnswer .userInput {
  display: inline-block;
  font-weight: 600;
}

.modalIntro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.modalIntro .modalLeft,
.modalIntro .modalRight,
.modalIntro .iconRight,
.modalIntro .iconLeft {
  position: absolute;
}

.modalIntro .modalLeft,
.modalIntro .modalRight {
  height: 100%;
  width: 50%;
  top: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 10;
}

.modalIntro .modalLeft {
  left: 0;
  background-color: #193549;
}

.modalIntro .modalLeft::after {
  content: "⌘";
  position: absolute;
  font-size: 20rem;
  top: 50%;
  right: -100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

@media only screen and (max-width: 768px) {
  .modalIntro .modalLeft::after {
    top: 65%;
  }
}

.modalIntro .modalRight {
  right: 0;
  background-color: #dcab00;
}

.modalIntro .modalRight::after {
  content: "⌘";
  position: absolute;
  font-size: 20rem;
  top: 50%;
  left: -100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  color: #193549;
}

@media only screen and (max-width: 768px) {
  .modalIntro .modalRight::after {
    top: 65%;
  }
}

.modalIntro .modalIcon {
  font-size: 30rem;
}

.modalIntro .modalIntroTitle {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  min-height: 50vh;
  z-index: 100;
  text-align: center;
  width: 60%;
}

.modalIntro .modalIntroTitle.row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.modalIntro .modalIntroTitle h1 {
  font-size: 5rem;
  font-family: "Orbitron", sans-serif;
  color: #193549;
  text-shadow: 2px 2px 1px bisque;
}

@media only screen and (max-width: 1295px) {
  .modalIntro .modalIntroTitle h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1100px) {
  .modalIntro .modalIntroTitle h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .modalIntro .modalIntroTitle h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .modalIntro .modalIntroTitle h1 span {
    display: block;
  }
}

.modalIntro .modalIntroTitle p {
  font-size: 2rem;
  margin: 30px 0;
  text-shadow: unset;
  color: #193549;
}

@media only screen and (max-width: 940px) {
  .modalIntro .modalIntroTitle p {
    font-size: 2.5rem;
    margin: 30px 0 70px;
  }
}

@media only screen and (max-width: 768px) {
  .modalIntro .modalIntroTitle p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .modalIntro .modalIntroTitle p {
    font-size: 1.6rem;
    margin: 30px 0 50px;
  }
}

.modalIntro .modalIntroTitle .btnStart::after {
  content: "";
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .modalIntro .modalIntroTitle .btnStart {
    width: 130px;
  }
}

@media only screen and (max-width: 1100px) {
  .modalIntro .modalIntroTitle {
    position: relative;
    min-height: 49vh;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .modalIntro .modalIntroTitle {
    min-height: unset;
    padding-top: 100px;
  }
}

@media only screen and (max-width: 1100px) {
  .modalIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .modalIntro {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.btn {
  position: relative;
  font-size: 2rem;
  display: inline-block;
  background-color: darkslategray;
  -webkit-box-shadow: 0px 0px 5px #9cfcfc;
          box-shadow: 0px 0px 5px #9cfcfc;
  border: 1px solid #a5ff90;
  border-radius: 150px;
  color: #dcab00;
  padding: 10px;
  text-transform: uppercase;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  text-align: center;
  width: 200px;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: 0px 0px 10px #9cfcfc;
          box-shadow: 0px 0px 10px #9cfcfc;
  letter-spacing: 1px;
}

.btn::after {
  content: "→";
  display: inline-block;
  margin-left: 30px;
}

@media only screen and (max-width: 480px) {
  .btn {
    font-size: 1.6rem;
    width: 200px;
  }
}

.modalScore {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.modalScore .modalScoreLeft,
.modalScore .modalScoreRight {
  position: absolute;
  width: 50%;
  z-index: 10;
}

.modalScore .modalScoreLeft,
.modalScore .modalScoreRight {
  height: 100%;
  width: 50%;
  top: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background-color: #15232d;
  z-index: 100;
}

.modalScore .modalScoreLeft {
  left: -50%;
}

.modalScore .modalScoreRight {
  right: -50%;
}

.modalScore .modalScoreTotal {
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #a5ff90;
  -webkit-box-shadow: 0px 0px 5px #a5ff90;
          box-shadow: 0px 0px 5px #a5ff90;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  z-index: 200;
  width: 50%;
}

.modalScore .modalScoreTotal h3 {
  font-size: 3rem;
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  .modalScore .modalScoreTotal h3 {
    margin: 0;
  }
}

.modalScore .modalScoreTotal .btnPlayAgain {
  width: 50%;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  .modalScore .modalScoreTotal .btnPlayAgain {
    margin-top: 20px;
  }
  .modalScore .modalScoreTotal .btnPlayAgain::after {
    content: "";
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .modalScore .modalScoreTotal .btnPlayAgain {
    width: 100%;
  }
}

.modalScore .modalScoreTotal .scoreList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #dcab00;
  border-radius: 25px;
  margin: 20px 0;
  text-align: center;
}

.modalScore .modalScoreTotal .scoreList li p {
  padding: 15px 25px;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .modalScore .modalScoreTotal .scoreList li p {
    padding: 10px 20px;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 480px) {
  .modalScore .modalScoreTotal .scoreList li p {
    padding: 5px 25px;
  }
}

.modalScore .modalScoreTotal .scoreList li .questionFinalScore {
  color: #9cfcfc;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #9cfcfc;
}

@media only screen and (max-width: 480px) {
  .modalScore .modalScoreTotal .scoreList li .questionFinalScore {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .modalScore .modalScoreTotal .scoreList li {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 480px) {
  .modalScore .modalScoreTotal .scoreList li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0;
  }
}

@media only screen and (max-width: 1100px) {
  .modalScore .modalScoreTotal {
    width: 60%;
  }
}

@media only screen and (max-width: 940px) {
  .modalScore .modalScoreTotal {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .modalScore .modalScoreTotal {
    padding: 20px 20px 30px;
  }
}
